@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/app/styles/pagination.css";
@import "@/app/styles/footer.css";


@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/app/fonts/Montserrat-Medium.ttf") format('ttf');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/app/fonts/Montserrat-MediumItalic.ttf") format('ttf');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/app/fonts/Montserrat-Bold.ttf") format('ttf');
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/app/fonts/Montserrat-BoldItalic.ttf") format('ttf');
  }

  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/app/fonts/LibreFranklin-Regular.ttf") format('ttf');
  }

  @font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/app/fonts/LibreFranklin-Italic.ttf") format('ttf');
  }

  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/app/fonts/LibreFranklin-Bold.ttf") format('ttf');
  }
}
